

<div class="container">
  <h1>本日のトピック</h1>
  <div class="row"><!-- 横並びにしている要素を囲う要素 -->
    <div class="col-md-6">
      <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">title</th>
      </tr>
    </thead>
    <tbody>
      <% @texts.each do |txt| %>
      <tr class="table-active">
        <th scope="row"><%= txt.date %></th>
        <td><%= txt.content %></td>
      </tr>
      <% end  %>

    </tbody>
</table>





    </div>

  </div>
</div>
