
<div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ホーム</font></font></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">投稿</font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">（現在）</font></font></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ログイン</font></font></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">価格設定</font></font></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">約</font></font></a>
                    </li>
                  </ul>

                </div>
              </nav>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&lt;&gt;</font></font></div></div>
<div class="container">
  <h1>Bootstrapの練習</h1>
  <div class="row"><!-- 横並びにしている要素を囲う要素 -->
    <div class="col-md-6">
      <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">title</th>
      </tr>
    </thead>
    <tbody>
      <% @texts.each do |txt| %>
      <tr class="table-active">
        <th scope="row">Active</th>
        <td><%= txt.content %></td>
      </tr>
      <% end  %>

    </tbody>
</table>





    </div>

  </div>
</div>
