<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb<%= @txt %></p>
<div class="container">
  <h1>Bootstrapの練習</h1>
  <div class="row"><!-- 横並びにしている要素を囲う要素 -->
    <div class="col-md-6">
      <%= @txt %>


    </div>

  </div>
</div>
